<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <title>Sobre</title>
</head>

<body>
    <header class="header"></header>
    <section class="about">
        <h1>O projeto</h1>
        <p>Este projeto visa mapear e facilitar a busca de todas as academias presentes no munícipio de Campinas.</p>

    </section>

    <section class="personal-data" id="personal-data">
        <h1>Autor</h1>
        <img class="personal-data__img" src="/assets/autor.JPG" alt="Imagem de Vinícius" />
        <ul class="personal-data__content">
            <li>
                <h3>Vinícius Almeida</h3>
            </li>
            <li>
                <a href="mailto:vinicalmeida38@gmail.com" target="_blank">vinicalmeida38@gmail.com</a>
            </li>
            <li><a href="https://github.com/vinicalmeida38">Github</a></li>
            <li>
                <a href="https://www.linkedin.com/in/vinicius-c-almeida/" target="_blank">Linkedin</a>
            </li>
            <li>
                <a class="personal-data__content--more" href="https://pagina-pessoal-vini.web.app/" target="_blank">Mais
                    informações...</a>
            </li>
        </ul>
        <hr />
    </section>
    <footer class="footer"></footer>
    <script src="/scripts/components.js"></script>
</body>


</html>